@model Department 


<a href="/employee" class="float-left flex align-items">Go Back</a><br>
<h1>Are You Sure to delete this record?</h1>
<hr>
<div class="card">
    <div class="card-header bg-light">
        <h4>Name: @Model.Name</h4>
    </div>
    <div class="card-body">
        <p>Code: @Model.Code</p>
        <p>Description: @Model.Description</p>
        <p>Start Date: @Model.StartDate</p>
    </div>
</div>
<form asp-controller="Department" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="Id">
    <button class="btn btn-danger" type="submit">Delete anyway</button>
</form>